.blog-post-header2-blog-post-header3 {
  display: flex;
  position: relative;
  align-items: center;
  padding-right: var(--dl-space-space-halfunit);
}
.blog-post-header2-max-width {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.blog-post-header2-section-title {
  align-items: flex-start;
}
.blog-post-header2-title {
  align-items: flex-start;
}
.blog-post-header2-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blog-post-header2-image {
  width: 438px;
  height: 552px;
  object-fit: cover;
}
.blog-post-header2-container {
  flex: 1;
  height: 560px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.blog-post-header2-image1 {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
.blog-post-header2-fragment {
  display: contents;
}
.blog-post-header2-text2 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 767px) {
  .blog-post-header2-max-width {
    flex-direction: column;
  }
  .blog-post-header2-section-title {
    align-items: center;
  }
  .blog-post-header2-title {
    align-items: center;
  }
  .blog-post-header2-content {
    align-items: center;
  }
  .blog-post-header2-container {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .blog-post-header2-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
