.steps2-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.steps2-max-width {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.steps2-container2 {
  height: 1536px;
  align-items: start;
}
.steps2-section-header {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 10%;
  display: flex;
  position: sticky;
  align-items: flex-start;
  flex-direction: column;
}
.steps2-actions {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.steps2-container3 {
  height: 1536px;
  grid-area: span 1/span 1/span 1/span 1;
  margin-bottom: 146px;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.steps2-container4 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
.steps2-text12 {
  width: 399px;
}
.steps2-text13 {
  text-align: center;
}
.steps2-container5 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent2);
}
.steps2-text14 {
  width: 402px;
}
.steps2-text15 {
  text-align: center;
}
.steps2-container6 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
.steps2-text16 {
  width: 405px;
}
.steps2-text17 {
  text-align: center;
}
.steps2-container7 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  background-color: var(--dl-color-theme-accent2);
}
.steps2-text18 {
  width: 404px;
}
.steps2-text19 {
  text-align: center;
}
.steps2-fragment1 {
  display: contents;
}
.steps2-text20 {
  display: inline-block;
}
.steps2-fragment2 {
  display: contents;
}
.steps2-text21 {
  display: inline-block;
}
.steps2-fragment3 {
  display: contents;
}
.steps2-text22 {
  display: inline-block;
}
.steps2-fragment4 {
  display: contents;
}
.steps2-text23 {
  display: inline-block;
}
.steps2-fragment5 {
  display: contents;
}
.steps2-text24 {
  display: inline-block;
}
.steps2-fragment6 {
  display: contents;
}
.steps2-text25 {
  display: inline-block;
}
.steps2-fragment7 {
  display: contents;
}
.steps2-text26 {
  display: inline-block;
}
.steps2-fragment8 {
  display: contents;
}
.steps2-text27 {
  display: inline-block;
}
@media(max-width: 991px) {
  .steps2-max-width {
    flex-direction: column;
  }
  .steps2-container2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .steps2-container2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .steps2-section-header {
    position: static;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .steps2-actions {
    width: 100%;
    align-self: flex-start;
  }
  .steps2-container4 {
    width: 100%;
  }
  .steps2-container5 {
    width: 100%;
  }
  .steps2-container6 {
    width: 100%;
  }
  .steps2-container7 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .steps2-container1 {
    height: 2071px;
    align-items: center;
    justify-content: flex-start;
  }
  .steps2-container2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .steps2-section-header {
    width: 393px;
  }
  .steps2-container3 {
    width: 407px;
    margin-right: 0px;
  }
  .steps2-container4 {
    width: 397px;
  }
  .steps2-text12 {
    width: 356px;
    margin-right: 0px;
  }
  .steps2-container5 {
    width: 399px;
  }
  .steps2-text14 {
    width: 360px;
  }
  .steps2-container6 {
    width: 388px;
  }
  .steps2-text16 {
    width: 365px;
  }
}
