.timeline10-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.timeline10-container11 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timeline10-text10 {
  text-align: center;
}
.timeline10-text11 {
  text-align: center;
}
.timeline10-container12 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.timeline10-timeline-container {
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline10-step1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.timeline10-container13 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline10-container14 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline10-progress01 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline10-container15 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline10-text15 {
  text-align: left;
}
.timeline10-container16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.timeline10-step2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.timeline10-container17 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline10-container18 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline10-progress02 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline10-container19 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline10-text20 {
  text-align: right;
}
.timeline10-text21 {
  text-align: right;
}
.timeline10-container20 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.timeline10-step3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.timeline10-container21 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline10-container22 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline10-progress03 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline10-container23 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline10-text25 {
  text-align: left;
}
.timeline10-container24 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.timeline10-step4 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.timeline10-container25 {
  flex: 1;
  left: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline10-container26 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline10-progress04 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline10-container27 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.timeline10-text30 {
  text-align: right;
}
.timeline10-text31 {
  text-align: right;
}
.timeline10-container28 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.timeline10-fragment10 {
  display: contents;
}
.timeline10-text34 {
  display: inline-block;
}
.timeline10-fragment11 {
  display: contents;
}
.timeline10-text35 {
  display: inline-block;
}
.timeline10-fragment12 {
  display: contents;
}
.timeline10-text36 {
  display: inline-block;
}
.timeline10-fragment13 {
  display: contents;
}
.timeline10-text37 {
  display: inline-block;
}
.timeline10-fragment14 {
  display: contents;
}
.timeline10-text38 {
  display: inline-block;
}
.timeline10-fragment15 {
  display: contents;
}
.timeline10-text39 {
  display: inline-block;
}
.timeline10-fragment16 {
  display: contents;
}
.timeline10-text40 {
  display: inline-block;
}
.timeline10-fragment17 {
  display: contents;
}
.timeline10-text41 {
  display: inline-block;
}
.timeline10-fragment18 {
  display: contents;
}
.timeline10-text42 {
  display: inline-block;
}
.timeline10-fragment19 {
  display: contents;
}
.timeline10-text43 {
  display: inline-block;
}
.timeline10-fragment20 {
  display: contents;
}
.timeline10-text44 {
  display: inline-block;
}
.timeline10-fragment21 {
  display: contents;
}
.timeline10-text45 {
  display: inline-block;
}
.timeline10-fragment22 {
  display: contents;
}
.timeline10-text46 {
  display: inline-block;
}
.timeline10-fragment23 {
  display: contents;
}
.timeline10-text47 {
  display: inline-block;
}
.timeline10-fragment24 {
  display: contents;
}
.timeline10-text48 {
  display: inline-block;
}
.timeline10-fragment25 {
  display: contents;
}
.timeline10-text49 {
  display: inline-block;
}
.timeline10-fragment26 {
  display: contents;
}
.timeline10-text50 {
  display: inline-block;
}
.timeline10-fragment27 {
  display: contents;
}
.timeline10-text51 {
  display: inline-block;
}
.timeline10-fragment28 {
  display: contents;
}
.timeline10-text52 {
  display: inline-block;
}
.timeline10-fragment29 {
  display: contents;
}
.timeline10-text53 {
  display: inline-block;
}
.timeline10-fragment30 {
  display: contents;
}
.timeline10-text54 {
  display: inline-block;
}
.timeline10-fragment31 {
  display: contents;
}
.timeline10-text55 {
  display: inline-block;
}
.timeline10-fragment32 {
  display: contents;
}
.timeline10-text56 {
  display: inline-block;
}
.timeline10-fragment33 {
  display: contents;
}
.timeline10-text57 {
  display: inline-block;
}
@media(max-width: 767px) {
  .timeline10-text11 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline10-container13 {
    right: auto;
  }
  .timeline10-container15 {
    width: 100%;
    padding-left: var(--dl-space-space-threeunits);
  }
  .timeline10-text15 {
    text-align: left;
  }
  .timeline10-container17 {
    right: auto;
  }
  .timeline10-container19 {
    width: 100%;
    align-items: flex-start;
    padding-left: var(--dl-space-space-threeunits);
  }
  .timeline10-text20 {
    text-align: left;
  }
  .timeline10-text21 {
    text-align: left;
  }
  .timeline10-container21 {
    right: auto;
  }
  .timeline10-container23 {
    width: 100%;
    padding-left: var(--dl-space-space-threeunits);
  }
  .timeline10-text25 {
    text-align: left;
  }
  .timeline10-container25 {
    right: auto;
  }
  .timeline10-container27 {
    width: 100%;
    align-items: flex-start;
    padding-left: var(--dl-space-space-threeunits);
  }
  .timeline10-text30 {
    text-align: left;
  }
  .timeline10-text31 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .timeline10-container12 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline10-container16 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline10-container20 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline10-container24 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline10-container28 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
}
