<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Atul Akella</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/cool-dude-with-shades-earphones-and-jacket.png"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./timeline10.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="timeline10-max-width thq-section-max-width">
          <div class="timeline10-container11">
            <h2 class="timeline10-text10 thq-heading-2">
              <fragment class="timeline10-fragment12">
                <span class="timeline10-text36">Timeline</span>
              </fragment>
            </h2>
            <span class="timeline10-text11 thq-body-small">
              <fragment class="timeline10-fragment22">
                <span class="timeline10-text46">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat
                </span>
              </fragment>
            </span>
            <div class="timeline10-container12">
              <button type="button" class="thq-button-filled">
                <span>
                  <fragment class="timeline10-fragment15">
                    <span class="timeline10-text39">Primary action</span>
                  </fragment>
                </span>
              </button>
              <button type="button" class="thq-button-outline">
                <span>
                  <fragment class="timeline10-fragment29">
                    <span class="timeline10-text53">Seconday action</span>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
          <div class="timeline10-timeline-container">
            <div class="timeline10-step1">
              <div class="timeline10-container13">
                <div class="timeline10-container14"></div>
                <div class="timeline10-progress01"></div>
              </div>
              <div class="timeline10-container15">
                <h3 class="thq-heading-3">
                  <fragment class="timeline10-fragment28">
                    <span class="timeline10-text52">2018</span>
                  </fragment>
                </h3>
                <h3 class="timeline10-text15 thq-heading-3">
                  <fragment class="timeline10-fragment21">
                    <span class="timeline10-text45">
                      Started Web Development Journey
                    </span>
                  </fragment>
                </h3>
                <span class="thq-body-small">
                  <fragment class="timeline10-fragment30">
                    <span class="timeline10-text54">
                      Began learning HTML, CSS, and JavaScript to kickstart my
                      career in web development.
                    </span>
                  </fragment>
                </span>
                <div class="timeline10-container16">
                  <button type="button" class="thq-button-filled">
                    <span>
                      <fragment class="timeline10-fragment25">
                        <span class="timeline10-text49">
                          Completed HTML/CSS course
                        </span>
                      </fragment>
                    </span>
                  </button>
                  <button type="button" class="thq-button-outline">
                    <span>
                      <fragment class="timeline10-fragment10">
                        <span class="timeline10-text34">
                          Started building personal projects
                        </span>
                      </fragment>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="timeline10-step2">
              <div class="timeline10-container17">
                <div class="timeline10-container18"></div>
                <div class="timeline10-progress02"></div>
              </div>
              <div class="timeline10-container19">
                <h3 class="thq-heading-3">
                  <fragment class="timeline10-fragment24">
                    <span class="timeline10-text48">2019</span>
                  </fragment>
                </h3>
                <h3 class="timeline10-text20 thq-heading-3">
                  <fragment class="timeline10-fragment13">
                    <span class="timeline10-text37">
                      Focused on Frontend Development
                    </span>
                  </fragment>
                </h3>
                <span class="timeline10-text21 thq-body-small">
                  <fragment class="timeline10-fragment17">
                    <span class="timeline10-text41">
                      Deepened knowledge in frontend technologies like React and
                      Bootstrap.
                    </span>
                  </fragment>
                </span>
                <div class="timeline10-container20">
                  <button type="button" class="thq-button-filled">
                    <span>
                      <fragment class="timeline10-fragment27">
                        <span class="timeline10-text51">
                          Completed React certification
                        </span>
                      </fragment>
                    </span>
                  </button>
                  <button type="button" class="thq-button-outline">
                    <span>
                      <fragment class="timeline10-fragment23">
                        <span class="timeline10-text47">
                          Worked on responsive design projects
                        </span>
                      </fragment>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="timeline10-step3">
              <div class="timeline10-container21">
                <div class="timeline10-container22"></div>
                <div class="timeline10-progress03"></div>
              </div>
              <div class="timeline10-container23">
                <h3 class="thq-heading-3">
                  <fragment class="timeline10-fragment20">
                    <span class="timeline10-text44">2020</span>
                  </fragment>
                </h3>
                <h3 class="timeline10-text25 thq-heading-3">
                  <fragment class="timeline10-fragment32">
                    <span class="timeline10-text56">
                      Dived into Digital Marketing
                    </span>
                  </fragment>
                </h3>
                <span class="thq-body-small">
                  <fragment class="timeline10-fragment31">
                    <span class="timeline10-text55">
                      Explored SEO, SEM, and social media marketing strategies.
                    </span>
                  </fragment>
                </span>
                <div class="timeline10-container24">
                  <button type="button" class="thq-button-filled">
                    <span>
                      <fragment class="timeline10-fragment16">
                        <span class="timeline10-text40">
                          Obtained Google Analytics certification
                        </span>
                      </fragment>
                    </span>
                  </button>
                  <button type="button" class="thq-button-outline">
                    <span>
                      <fragment class="timeline10-fragment14">
                        <span class="timeline10-text38">
                          Executed successful social media campaigns
                        </span>
                      </fragment>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="timeline10-step4">
              <div class="timeline10-container25">
                <div class="timeline10-container26"></div>
                <div class="timeline10-progress04"></div>
              </div>
              <div class="timeline10-container27">
                <h3 class="thq-heading-3">
                  <fragment class="timeline10-fragment33">
                    <span class="timeline10-text57">2021</span>
                  </fragment>
                </h3>
                <h3 class="timeline10-text30 thq-heading-3">
                  <fragment class="timeline10-fragment26">
                    <span class="timeline10-text50">
                      Established Web Development Business
                    </span>
                  </fragment>
                </h3>
                <span class="timeline10-text31 thq-body-small">
                  <fragment class="timeline10-fragment19">
                    <span class="timeline10-text43">
                      Launched my own web development and digital marketing
                      agency.
                    </span>
                  </fragment>
                </span>
                <div class="timeline10-container28">
                  <button type="button" class="thq-button-filled">
                    <span>
                      <fragment class="timeline10-fragment18">
                        <span class="timeline10-text42">
                          Secured first major client project
                        </span>
                      </fragment>
                    </span>
                  </button>
                  <button type="button" class="thq-button-outline">
                    <span>
                      <fragment class="timeline10-fragment11">
                        <span class="timeline10-text35">
                          Expanded team and services
                        </span>
                      </fragment>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/react-components/dist/animate-on-reveal.umd.js"
    ></script>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
